# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pyre type checker
.pyre/

# Pytype
.pytype/

# mypy
.mypy_cache/

# Environments and IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Logs
*.log

*.pt
